---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Compiladores empleados en la actualidad">
  <Fragment slot="nav"><Nav/></Fragment>
  <section class="card">
    <h2>Compiladores populares</h2>
    <!-- Contenido irá aquí -->
  </section>
</Layout>

