---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Definición de compilador y relación con autómatas">
  <Fragment slot="nav"><Nav/></Fragment>
  <section class="card">
    <h2>¿Qué es un compilador?</h2>
    <!-- Contenido irá aquí -->
  </section>
  <section class="card">
    <h3>Vínculo con Teoría de Autómatas y Lenguajes Formales</h3>
    <!-- Contenido irá aquí -->
  </section>
</Layout>

