---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Estructura de un compilador">
  <Fragment slot="nav"><Nav/></Fragment>
  <section class="card">
    <h2>Módulos principales</h2>
    <!-- Contenido irá aquí -->
  </section>
</Layout>

