---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Generación de código intermedio y final">
  <Fragment slot="nav"><Nav/></Fragment>
  <section class="card">
    <h2>Código intermedio</h2>
    <!-- Contenido irá aquí -->
  </section>
  <section class="card">
    <h2>Código final</h2>
    <!-- Contenido irá aquí -->
  </section>
</Layout>

