---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Portada — Teoría de Compiladores">
  <Fragment slot="nav"><Nav/></Fragment>

  <section class="card">
    <h2>Portada</h2>
    <p><strong>Equipo:</strong></p>
    <ul>
      <li>Victor Velazquez Cid - 24-1429</li>
      <li>Cris Leidy Rosario De los santos - 24-1046</li>
      <li>Emelyn Fabian Reyes - 24-0642</li>
    </ul>
    <p><strong>Asignatura:</strong> Teoría de Autómatas y Compiladores</p>
    <p><strong>Profesor(a):</strong> …</p>
    <p><strong>Fecha:</strong> …</p>
  </section>
</Layout>
