---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Referencias y recursos">
  <Fragment slot="nav"><Nav/></Fragment>
  <section class="card">
    <h2>Fuentes consultadas</h2>
    <ul>
      <!-- Ejemplo: <li><a href="https://es.wikipedia.org/wiki/Compilador">Wikipedia - Compilador</a></li> -->
    </ul>
  </section>
</Layout>

