---
import Layout from "../components/Layout.astro";
---

<Layout title="Referencias y recursos">
  <section class="card">
    <h2>Fuentes consultadas</h2>
    <ul>
      <li><a href="https://es.wikipedia.org/wiki/Compilador" target="_blank" rel="noopener noreferrer">Wikipedia - Compilador</a></li>
      <li><a href="https://www.geeksforgeeks.org/compiler-design/" target="_blank" rel="noopener noreferrer">GeeksForGeeks - Compiler Design</a></li>
      <li><a href="https://www.tutorialspoint.com/compiler_design/" target="_blank" rel="noopener noreferrer">TutorialsPoint - Compiler Design</a></li>
      <li><a href="https://www.programiz.com/article/difference-between-compiler-and-interpreter" target="_blank" rel="noopener noreferrer">Programiz - Compiler vs Interpreter</a></li>
      <li><a href="https://llvm.org/" target="_blank" rel="noopener noreferrer">LLVM Project - Clang and LLVM</a></li>
    </ul>
  </section>
</Layout>

